# Sample of an environment vars file for docker
# When create real file locally, you will need to attach environment name into file name
# like so: .staging-docker.env

HELPSCOUT_SECRET_KEY='blah'
NCSA_HELPSCOUT_API_KEY='blah'
NCSA_HELPSCOUT_ACCOUNT='blah'
NCSA_PASS_ACCOUNT='blah'
NCSA_PASS_API_KEY='blah'
